<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>mainui</servlet-name>
		<servlet-class>com.nitts.shopperparadise.mainui</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainui</servlet-name>
		<url-pattern>/mainui</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>promostorer</servlet-name>
		<servlet-class>com.nitts.shopperparadise.promostorer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>promostorer</servlet-name>
		<url-pattern>/promostorer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>productstorer</servlet-name>
		<servlet-class>com.nitts.shopperparadise.productstorer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productstorer</servlet-name>
		<url-pattern>/productstorer</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>finalcart.html</welcome-file>
	</welcome-file-list>
</web-app>
